button {
	border-top: rgba($teal-main, 0.4);
	border-left: rgba($teal-main, 0.4);
	border-right: rgba($teal-main, 0.4);
	border-bottom: 2px solid rgba($teal-main, 1.0);
	background-color: rgba($teal-main, 0.4);
	padding: 6px 12px;
	font-family: poppins_light;
	border-radius: 2px;
	cursor: pointer;

	&:hover {
		background-color: rgba($teal-main, 0.7);
		color: rgba($white, 0.9);
		transition: 0.25s ease-in-out;
		
		
	}
	&.create-project {
		font-size: 14px;
		margin-top: -1px;
		padding-right: 20px;
		&:before {
			content: '\02795'; /* Unicode character for "plus" sign (+) */
			font-family: fontAwesome;
			font-size: 20px;
			line-height: 20px;
			vertical-align: middle;
	        color: rgba($black, 0.4);
	        margin-right: 5px;
	        margin-top: 5px;
	        padding-right: 5px;
		}
        &:hover {
        	color: $white;
        }
	}
	&:disabled {
		background-color: rgba(0, 0, 0, 0.1); // Background
		color: rgba(0, 0, 0,0.9); // Text colour
		border-top: rgba(0, 0, 0, 0.1);
		border-left: rgba(0, 0, 0, 0.1);
		border-right: rgba(0, 0, 0, 0.1);
		border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	}
	transition: $trans-fast ease-in-out;
}