$white: #ffffff;
$black: #000000;

// Base Material palette teal:
$teal-base: #62d3bd;

$yellow-base: #fcd606;


// Some 

$text-heading: rgba($black, 0.7);

$grey-ultralight: rgba($black, 0.05);
$grey-light: rgba($black, 0.1);
$grey-mid: rgba($black, 0.3);
$grey-dark: rgba($black, 0.6);

$grey-tabs: #c9c9c9;

$grey-editorbg: #eeeeee;

$grey-toolbar: #bcbcbc;

$amber-accent: #f26d21;

$header-color: rgba(0, 0, 0, 0.7);

@mixin background-hue($color) {
}

#color {
	
}


