// File dropdown menu - for choosing projects

button.file-dropdown {
    // opacity: 1;
    position: relative;
    width: 200px;
    background-color: #fff;
    font-family: poppins_regular; 
    color: $teal-main;
    padding: 6px 16px;
    font-size: 14px;
    text-align: left;
    border: none;
    cursor: pointer;
    display: inline;
    border: 2px solid $teal-main;
    &:before {
        position:absolute;
        content:" ";
        border: 8px solid transparent;
        border-top: 8px solid $teal-main;
        top: 13px;
        right: 12px;
    }
    &:hover, &:focus {
        background-color: rgba($teal-main, 1.0);
        border: 2px solid rgba($teal-main, 0.8);
        color: white;

        &:before {
            border-top: 8px solid #fff;
            // border-top: 8px solid #fff;
        }
    }
}

.dropdown {
    opacity: 1;
    position: relative;
    display: inline-block;
    // border: 2px solid $teal-main;
    border-radius: 2px;
    &.inactive {
        background: $grey-light;
        border: 2px solid $grey-mid;
    }
}





/* Dropdown content (hidden by default) */
.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    /* Links inside the dropdown */
    a {
        opacity: 1;
        font-family: poppins_light;
        font-size: 12px;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: $grey-light;
            color: rgba(0, 0, 0, 0.9);
        }
        &:after {
            border: none;
        }
    }
}
.show {
    display: block;
    transition: $trans-reg 0.2s linear;
}
