@font-face {
  font-family: "Office Code Pro";
  src: url("../fonts/officecodepro-medium-webfont.woff2") format("woff2"), url("../fonts/officecodepro-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Office Code Pro";
  src: url("../fonts/officecodepro-bold-webfont.woff2") format("woff2"), url("../fonts/officecodepro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "fontAwesome";
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$text-font-stack: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$heading-font-stack: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$code-font-stack: "Office Code Pro", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace;

$font-body: $text-font-stack;
$icons: "fontAwesome";
$font-size: 1em;
$line-height: 2em;
