// hr styles

hr {
    border: 0;
    width: 70%;
    height: 1px;
    margin: 50px auto;
    background: $teal-base;
    background-image: linear-gradient(to right, $teal-03, $teal-main, $teal-03);
}