// list styles
ul {
	margin-left: 20px;
	list-style: none !important;
	> li {
		position: relative !important;
		padding-left: 20px;
		&:before {
			content: '' !important;
			width: 6px !important;
			height: 6px !important;
			border-radius: 100%;
			border: 3px solid $teal-main;
			background-color: rgba($teal-main, 0.4);
			// border-top: 5px solid transparent !important;
			// border-bottom: 5px solid transparent !important;
			// border-left: 5px solid #ff7f00 !important;
			position: absolute !important;
			left: -10px !important;
			top: 10px !important;
		}
	}
}

ol {
	padding-left: 40px;
	font-family: space_bold;
	color: $teal-main;
	margin-left: 20px;
	> li {
		position: relative !important;
		padding-left: 20px;
		> span {
			font-family: poppins_light;
			color: $black;
		}
		
	}

	
}