.number {
  border: 1px solid #ccc;
  height: 25px;
  user-select: none;
}
input[type="text"].input-number  {
  height: 25px;
  width: 50px;
  padding: 0;
  vertical-align: top;
  text-align: center;
  outline: none;
  font-family: poppins_regular;
  border-radius: 0;
  border-color: $grey-mid;
  &:disabled {
    border-radius: 0;
    width: 50px;
  }
}

.decrement, .increment {
  font-size: 0.1em;
  padding-top: 7px;
  max-height: 16px;
  display: inline-block;
  width: 25px;
  
  line-height: 22px;
  background: $grey-light;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  &:active {
    background: $teal-02;
  }
}

.decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}