// table styles

// span.color 


table {
	font-family: $text-font-stack;
	font-size: 80%;
	border-collapse: collapse;
	tr:first-child {
		background-color: rgba($teal-main, 0.1);
		font-weight: bolder;
	}
	tr:not(:first-child) {
		border-bottom: 1px solid $grey-light;
	}
	td {
		padding: 20px;
		&:first-child {
			padding-right: 50px;
		}
		&:not(:first-child) {
			margin: 0 auto;
		}
	}
}

.color-table {
	background-color: $white;
	tr:first-child {
		font-family: $heading-font-stack;
		background-color: white;
		> td {
			height: auto;
		}
	}
	tr:not(:first-child) {
		border: none;
	}
	tr > td {
		&:first-child {
			font-family: $heading-font-stack;
			width: auto;
			max-width: 100px;
			min-width: 60px;
			text-align: right;
		}
		margin: 10px;
		padding: 20px;
		width: 60px;	
		height: 60px;
		display: inline-block;
		font-family: $heading-font-stack;
		vertical-align: bottom;
		color: white;
		> p {
			font-size: 1em;
			line-height: 1.5em;
			font-family: inherit;
			color: black;
			vertical-align: middle;
		}
		
		&.diy-colour {
			padding: 0;
			width: 100px;

			p {
				font-size: 0.8em !important;
				margin: 0
			}
		}
		&.grey-dark {
			background: $grey-dark;
		}
		&.grey-mid {
			background: $grey-mid;
		}
		&.grey-light {
			background: $grey-light;
		}
		&.grey-ultralight {
			background: $grey-ultralight;
		}
		&.black {
			background: $black;
		}
	}
}

// Class names
// 
// To generate run this in SassMeister then add $
// (Sass doesn't support interpolating/dynamic variable names)
// 
// $hues: "teal", "gold", "grey", "blue", "ruby", "coal";
// $variations: "base", "main", "01", "02", "03";
// 
// @each $hue in $hues {
//   @each $variation in $variations {
//     .colour-#{$hue}-#{$variation} {
//       background-color: #{$hue}-#{$variation};
//     }
//   }
// }


// @TODO: add these on the HTML

.colour-teal-base {
  background-color: $teal-base;
}

.colour-teal-main {
  background-color: $teal-main;
}

.colour-teal-01 {
  background-color: $teal-01;
}

.colour-teal-02 {
  background-color: $teal-02;
}

.colour-teal-03 {
  background-color: $teal-03;
}

.colour-gold-base {
  background-color: $gold-base;
}

.colour-gold-main {
  background-color: $gold-main;
}

.colour-gold-01 {
  background-color: $gold-01;
}

.colour-gold-02 {
  background-color: $gold-02;
}

.colour-gold-03 {
  background-color: $gold-03;
}

.colour-grey-base {
  background-color: $grey-base;
}

.colour-grey-main {
  background-color: $grey-main;
}

.colour-grey-01 {
  background-color: $grey-01;
}

.colour-grey-02 {
  background-color: $grey-02;
}

.colour-grey-03 {
  background-color: $grey-03;
}

.colour-blue-base {
  background-color: $blue-base;
}

.colour-blue-main {
  background-color: $blue-main;
}

.colour-blue-01 {
  background-color: $blue-01;
}

.colour-blue-02 {
  background-color: $blue-02;
}

.colour-blue-03 {
  background-color: $blue-03;
}

.colour-ruby-base {
  background-color: $ruby-base;
}

.colour-ruby-main {
  background-color: $ruby-main;
}

.colour-ruby-01 {
  background-color: $ruby-01;
}

.colour-ruby-02 {
  background-color: $ruby-02;
}

.colour-ruby-03 {
  background-color: $ruby-03;
}

.colour-coal-base {
  background-color: $coal-base;
}

.colour-coal-main {
  background-color: $coal-main;
}

.colour-coal-01 {
  background-color: $coal-01;
}

.colour-coal-02 {
  background-color: $coal-02;
}

.colour-coal-03 {
  background-color: $coal-03;
}
