// styles for text.

#text {

}

a {
	color: $teal-base;

	&:hover {
		color: $teal-main;
	}
}

section h2 {
	font-family: $heading-font-stack;
	font-size: 1.7em;
	line-height: 1.1em;
	text-transform: uppercase;
	color: $white;
	background-color: $teal-base;
	display: inline-block;
	padding: .2em .6em;
	margin-left: -.6em;

	&.hero-title {
		padding: 0 0 0 30px;
		font-size: 48px;
		color: $white;
		position: absolute;
		display: inline;
	}
	&.section-title {
		font-size: 36px;
		padding-right: 10%;
	}
}

h3 {
	&.hero-title {
		font-family: $heading-font-stack;
		padding-left: 10%;
		font-size: 20px;
		line-height: 18px;
		text-transform: uppercase;
	}
}

span.code {
		background: $grey-ultralight;
		padding: 7px;
		border-radius: 5px;
		display: inline-block;
		margin: 0;
		font-family: $code-font-stack;
		line-height: 20px;
}

p {
	&.intro {
		padding: 0 10%;
	}
	font-size: 1em;
	display: block;
	width: 86%;
}

.readable {
	float: left;
	width: 200px;
	height: 100px;
	background: $teal-01;
	color: rgba(0, 0, 0, 0.5);
	font-family: $text-font-stack;
	text-align: center;
}

.less-readable {
	margin-left: 220px;
	width: 200px;
	height: 100px;
	background: $teal-01;
	color: #7d7d7d;
	font-family: $text-font-stack;
	text-align: center;
	> p {
		margin-top: 0;
		padding-top: 15px;
	}
}
