// styles for text.

#text {

}

a {
	color: $teal-base;
	text-decoration: none;
	position: relative;
	&:hover {
		color: rgba($teal-main, 0.6);
	}
	&:after {
		position: absolute;
		border-bottom: 1px dotted $black;
		content: '';
		height: 1px;
		left: 0;
		bottom: 2px;
	}
	&:hover:after {
		width: 100%;
    }
    transition-delay: 0.2s;
    transition: $trans-reg ease-in-out;	
}

section h1 {
	font-family: space_bold;
	font-size: 24px;
	line-height: 20px;
	color: $header-color;
	&.hero-title {
		padding: 0 0 0 30px;
		font-size: 48px;
		color: $white;
		position: absolute;
		display: inline;
	}
	&.section-title {
		font-size: 36px;
		padding-right: 10%;
	}
}

h2 {
	&.hero-title {
		font-family: space_bold;
		padding-left: 10%;
		font-size: 20px;
		line-height: 18px;
	}
}

span.code {
		background: $grey-ultralight;
		padding: 7px;
		border-radius: 5px;
		display: inline-block;
		margin: 0;
		font-family: inconsolata;
		line-height: 20px;
	}
p {
	span.bold{
		font-family: poppins_medium;
	}
	span.bolder {
		font-family: poppins_semibold;
	}
	span.boldest {
		font-family: poppins_bold;
	}
	&.mont-hair {
		font-family: montserrat_hairline;
	}
	&.mont-light {
		font-family: montserrat_light;
	}
	&.mont-reg {
		font-family: montserrat_regular;
	}
	&.mont-bold {
		font-family: montserrat_semibold;
	}
	&.intro {
		padding: 0 10%;
	}
	display: block;
}

.readable {
	float: left;
	width: 200px;
	height: 100px;
	background: $teal-01;
	color: rgba(0, 0, 0, 0.5);
	font-family: space_bold;
	text-align: center;
}

.less-readable {
	margin-left: 220px;
	width: 200px;
	height: 100px;
	background: $teal-01;
	color: #7d7d7d;
	font-family: space_bold;
	text-align: center;
	> p {
		margin-top: 0;
		padding-top: 15px;
	}
}
