@import 'reset';
@import 'behaviours';
@import 'fonts';
@import 'color-scheme';
@import 'table';

// body {
// 	margin: 0;
// 	padding: 0;
// 	font-family: $font-body;
// 	font-size: $font-size;
// 	line-height: $line-height;
// 	z-index: 90;
// 	*:focus {
// 		outline: none;
// 	}
// }

// #hero {
// 	display: block;
// 	position: absolute;
// 	top: 0;
// 	height: 130px;
// 	width: 100%;
// 	padding: 50px 0 50px 100px;
// 	background-color: $white;
// 	box-shadow: 5px 5px 5px $grey-light;
// 	position: fixed;
// 	z-index: 100;	
// 	> img {
// 		height: 130px;
// 		width: auto;
// 		transition: height 0.3s ease;
// 	}
// 	&.shrink {
// 		height: 80px;
// 		padding: 15px 0 15px 100px;
// 		transition: height 0.4s ease;
// 		img {
// 			height: 70px;
// 			width: auto;
// 			transition: 0.4s ease;
// 		}
// 	}
// 	transition: height 0.3s ease;
// }
// #main {
// 	display: block;
// 	height: auto;
// 	padding-left: 0;
// 	padding-top: 20px;
// 	margin-top: 200px;
	
// 	> section {
// 		border-bottom: 1px solid $grey-mid;
// 	}
// 	section {
// 		clear: left;
// 		padding: 50px 20px;
// 		.left {
// 			width: 25%;
// 			float: left;
// 			height: auto;
// 			text-align: right;
// 		}

// 	p {
// 		font-size: 16px;
// 	}
// }

// .intro {
// 	> p {
// 		padding: 0 10%;
// 	}
// 	> h1 {
// 		font-size: 2.0em;
// 		padding: 0 20px;
// 		line-height: 2.4em;
// 	}
// 	> ul {
// 		margin-left: 120px;
// 		li {
// 			margin-left: 20px;
// 		}
// 	}
// 	padding-bottom: 40px;

// }
		
// 		.right {
// 			width: auto;
// 			padding-left: 20px;
// 			overflow: hidden;
// 			> ul {
// 				padding-left: inherit;
// 			}
// 						> hr {
// 				// display: block;
// 				background: transparent;
// 			}
// 			> h1 {
// 				border-bottom: 10px solid $teal-01;
// 				display: table;
// 				font-size: 24px;
// 				font-family: space_bold;
// 				color: rgba(0, 0, 0, 0.8);
// 				opacity: 0.8;
// 			}
// 			> h1:not(:first-child) {
// 				padding-top: 50px;
// 			}

// 		}
// 	}


// .wrapper {
// 	width: 400px;
// 	display: inline-block;
// 	position: relative;
// }

// .left-choice {
// 	display: inline-block;
// 	width: 50%;
// 	text-align: right;
// 	float: left;
// 	clear: all;
// }

// .right-choice {
// 	display: inline-block;
// 	padding-left: 25px;
// 	width: 43%;
// 	text-align: left;
// 	margin-top: 3px;
// 	position: relative;
// }


// @mixin normal-text {
//   font: {
//     family: poppins_light;
//     size: 16px;
//   }
//   color: rgba($black, 0.85);
// }

// // @import 'reset';
// // @import 'behaviours';
// @import 'fonts';
// @import 'color-scheme';
// // @import 'table';

body {
	margin: 0;
	padding: 0;
	font-family: $font-body;
	font-size: $font-size;
	line-height: $line-height;
	z-index: 90;
	*:focus {
		outline: none;
	}
}

#hero {
	background-color: #f9f9f9;
	display: block;
	position: absolute;
	top: 0;
	// height: 130px;
	width: 100%;
	height: 60px;
	padding: 15px 0 15px 40px;
	// padding: 50px 0 50px 100px;
	// background-color: $white;
	box-shadow: 5px 5px 5px $grey-ultralight;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: fixed;
	z-index: 100;	
	> img {
		height: 65px;
		width: auto;
		transition: height 0.3s ease;
	}
	> span {
		float: right;
		display: inline;
		text-align: right;
		font-size: 1em;
		padding-right: 170px;
		margin-top: 27px;
		position: relative;
		font-family: poppins_light;
		> a {
				position: absolute;
				top: 3px;
				margin-left: 8px;
				margin-top: -12px;
				background: url(../images/bela_black.png) no-repeat;
				width: 80px;
				height: 35px;
				background-size: 80px 35px;
				opacity: 0.2;
				transition: 0.2s ease-in-out;
				// > span {
				// 	display: inline-block;
				// 	background-size: 80px 35px;
				// 	opacity: 0.2;
				// }
				&:hover {
					background: url(../images/bela_tealmain.png) no-repeat;
					width: 80px;
				height: 35px;
				background-size: 80px 35px;
				// margin-left: 6px;
				margin-top: -14px;
					opacity: 0.4;
				}
				&:after {
					border: none;
				}
			}
	}
	
}

#main {
	display: block;
	height: auto;
	padding-left: 0;
	padding-top: 20px;
	margin-top: 70px;
	position: relative;
	> .sidebar {
		display: inline-block;
		float: left;
		width: 20%;
		// border: 1px solid pink;
		font-family: space_bold;
		padding: 40px 20px 0;
		transition: color 0.2s ease-in-out;
		position: fixed;
		> a {
			position: relative;
			text-decoration: none;
			cursor: pointer;
			margin: 0;
			display: block;
			font-size: 14px;
			color: $grey-dark;
			padding: 0 0 0 40px;
			transition: color 0.2s, background 0.5s ease-in-out;
				&:after {
					border: none;
				}
				&:first-child:before {
					display: none;
				}
			&:before {
				display: inline-block;
				font-family: $icons;
				content: '+';
				font-size: 18px;
				position: absolute;
				top: 8px;
				left: 12px;
				// margin-top: -3px;
				line-height: 14px;
				font-weight: bold;
				transition: transform 0.3s, color 0.2s;
			}
			&.selected {
				color: $teal-main;
				&:before {
						transform-origin: 50% 50%;
						-webkit-transform-origin: 50% 50%;
						transform: rotate(45deg);
						color: $teal-main;
						// transform-origin: 50% 50%;

					}
				}
			// &:first-child {
			// 	padding: 40px 0 5px 20px;
			// }
			&:hover {
				color: $teal-main;

				
			}
			&:active {
				color: $teal-main;
				
			}
		}
		> .sublinks {
			transition: 0.5s ease;
			display: none;
			// padding-bottom: 20px;
			> a {
				text-decoration: none;
				color: $grey-dark;
				cursor: pointer;
				display: block;
				padding: 5px 0 5px 40px;
				font-family: space_regular;
				font-size: 10px;
				line-height: 14px;
				transition: background 0.5s, color 0.1s ease-in-out;
				&:hover {
					color: $teal-main;
					background: rgba(255, 255, 0, 0.2);
					transition: background 0.5s, color 0.1s ease-in-out;
				}
				&:after {
					border: none;
				}

			}
		}
		> .visible {
			display: block;

		}
	}
	> .content {
		margin-left: 25%;
		padding-right: 40px;
		> section {
			padding-bottom: 40px;
			
				padding-top: 20px;
			
			> h1 {
				border-bottom: 8px solid rgba($teal-01, 0.6);
				display: table;
				font-size: 24px;
				font-family: space_bold;
				color: rgba(0, 0, 0, 0.8);
				padding-bottom: 1px;
				font-size: 30px;
				margin-left: -20px;
				
				> .positioner {
					position: relative;
					top: -170px;
					display: block;
				}
			}
			> h2 {
				font-family: poppins_medium;
				color: rgba($black, 0.8);
				&:not(:first-child) {
					padding-top: 20px;
				}
				
				> .sub-positioner {
					position: relative;
					top: -160px;
					display: block;
				}
			}
		}
	}
	
	// > section {
	// 	border-bottom: 1px solid $grey-mid;
	// }
	// section {
	// 	clear: left;
	// 	padding: 50px 20px;
	// 	.left {
	// 		width: 25%;
	// 		float: left;
	// 		height: auto;
	// 		text-align: right;
	// 	}

	p {
		font-size: 16px;
	}
}

.intro {
	> p {
		padding: 0 10%;
	}
	> h1 {
		font-size: 2.0em;
		padding: 0 20px;
		line-height: 2.4em;
	}
	> ul {
		margin-left: 120px;
		li {
			margin-left: 20px;
		}
	}
	padding-bottom: 40px;

}
		
		.right {
			width: auto;
			padding-left: 20px;
			overflow: hidden;
			> ul {
				padding-left: inherit;
			}
						> hr {
				// display: block;
				background: transparent;
			}
			> h1 {
				border-bottom: 10px solid $teal-01;
				display: table;
				font-size: 24px;
				font-family: space_bold;
				color: rgba(0, 0, 0, 0.8);
				opacity: 0.8;
			}
			> h1:not(:first-child) {
				padding-top: 50px;
			}

		}
	


.wrapper {
	width: 400px;
	display: inline-block;
	position: relative;
}

.left-choice {
	display: inline-block;
	width: 50%;
	text-align: right;
	float: left;
	clear: all;
}

.right-choice {
	display: inline-block;
	padding-left: 25px;
	width: 43%;
	text-align: left;
	margin-top: 3px;
	position: relative;
}


@mixin normal-text {
  font: {
    family: poppins_light;
    size: 16px;
  }
  color: rgba($black, 0.85);
}

// @import 
// 	// Most basic styles:
// 	'text',
// 	'table',
// 	'lists',
// 	// Inputs:
// 	'buttons',
// 	'radio',
// 	'dropdown-mini',
// 	'bool-switch',
// 	'text-box',
// 	'number-picker',
// 	'slider',
// 	'hr',
// 	// Custom menus:
// 	'accordion',
// 	'file-dropdown',
// 	// Other custom styles:
// 	'popup'
;

@import 
	// Most basic styles:
	'text',
	'table',
	'lists',
	// Inputs:
	'buttons',
	'radio',
	'dropdown-mini',
	'bool-switch',
	'text-box',
	'number-picker',
	'slider',
	'hr',
	// Custom menus:
	'accordion',
	'file-dropdown',
	// Other custom styles:
	'popup'
;