@import 'reset';
@import 'behaviours';
@import 'fonts';
@import 'color-scheme';
@import 'table';

body {
	margin: 0;
	padding: 0;
	font-family: $font-body;
	font-size: $font-size;
	line-height: $line-height;
	z-index: 90;
	*:focus {
		outline: none;
	}
}

#main {
	height: auto;
	#hero {
		background-color: rgba(0,0,0,0.3);
	}
	> section {
		border-bottom: 1px solid $grey-mid;
	}
	section {
		clear: left;
		padding: 50px 20px;
		.left {
			width: 25%;
			float: left;
			height: auto;
			text-align: right;
		}

	p {
		font-size: 16px;
	}
}

.intro {
	> p {
		padding: 0 10%;
	}
	> h1 {
		font-size: 2.0em;
		padding: 0 20px;
		line-height: 2.4em;
	}
	> ul {
		margin-left: 120px;
		li {
			margin-left: 20px;
		}
	}
	padding-bottom: 40px;

}
		
		.right {
			width: auto;
			padding-left: 20px;
			overflow: hidden;
			> ul {
				padding-left: inherit;
			}
						> hr {
				// display: block;
				background: transparent;
			}
			> h1 {
				border-bottom: 10px solid $teal-01;
				display: table;
				font-size: 24px;
				font-family: space_bold;
				color: rgba(0, 0, 0, 0.8);
				opacity: 0.8;
			}
			> h1:not(:first-child) {
				padding-top: 50px;
			}

		}
	}


.wrapper {
	width: 400px;
	display: inline-block;
	position: relative;
}

.left-choice {
	display: inline-block;
	width: 50%;
	text-align: right;
	float: left;
	clear: all;
}

.right-choice {
	display: inline-block;
	padding-left: 25px;
	width: 43%;
	text-align: left;
	margin-top: 3px;
	position: relative;
}


@mixin normal-text {
  font: {
    family: poppins_light;
    size: 16px;
  }
  color: rgba($black, 0.85);
}

@import 
	// Most basic styles:
	'text',
	'table',
	'lists',
	// Inputs:
	'buttons',
	'radio',
	'dropdown-mini',
	'bool-switch',
	'text-box',
	'number-picker',
	'slider',
	'hr',
	// Custom menus:
	'accordion',
	'file-dropdown',
	// Other custom styles:
	'popup'
;