html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Office Code Pro";
  src: url("../fonts/officecodepro-medium-webfont.woff2") format("woff2"), url("../fonts/officecodepro-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Office Code Pro";
  src: url("../fonts/officecodepro-bold-webfont.woff2") format("woff2"), url("../fonts/officecodepro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "fontAwesome";
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

table {
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 80%;
  border-collapse: collapse; }
  table tr:first-child {
    background-color: rgba(0, 190, 164, 0.1);
    font-weight: bolder; }
  table tr:not(:first-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  table td {
    padding: 20px; }
    table td:first-child {
      padding-right: 50px; }
    table td:not(:first-child) {
      margin: 0 auto; }

.color-table {
  background-color: #ffffff; }
  .color-table tr:first-child {
    font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: white; }
    .color-table tr:first-child > td {
      height: auto; }
  .color-table tr:not(:first-child) {
    border: none; }
  .color-table tr > td {
    margin: 10px;
    padding: 20px;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    vertical-align: bottom;
    color: white; }
    .color-table tr > td:first-child {
      font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      width: auto;
      max-width: 100px;
      min-width: 60px;
      text-align: right; }
    .color-table tr > td > p {
      font-size: 1em;
      line-height: 1.5em;
      font-family: inherit;
      color: black;
      vertical-align: middle; }
    .color-table tr > td.base {
      background: #62d3bd; }
    .color-table tr > td.main {
      background: #00bea4; }
    .color-table tr > td.accent-1 {
      background: #1ce8b5; }
    .color-table tr > td.accent-2 {
      background: #63ffd9; }
    .color-table tr > td.accent-3 {
      background: #a6ffea; }
      .color-table tr > td.accent-3 > p {
        z-index: 100;
        color: rgba(0, 0, 0, 0.5); }
    .color-table tr > td.trans-8 {
      opacity: 0.8; }
    .color-table tr > td.trans-6 {
      opacity: 0.6; }
    .color-table tr > td.trans-4 {
      opacity: 0.4; }
    .color-table tr > td.trans-2 {
      opacity: 0.2; }
    .color-table tr > td.trans-1 {
      opacity: 0.1; }
    .color-table tr > td.grey-dark {
      background: rgba(0, 0, 0, 0.6); }
    .color-table tr > td.grey-mid {
      background: rgba(0, 0, 0, 0.3); }
    .color-table tr > td.grey-light {
      background: rgba(0, 0, 0, 0.1); }
    .color-table tr > td.grey-ultralight {
      background: rgba(0, 0, 0, 0.05); }
    .color-table tr > td.black {
      background: #000000; }

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 2em;
  z-index: 90; }
  body *:focus {
    outline: none; }

#hero {
  background-color: #f9f9f9;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 15px 0 15px 40px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100; }
  #hero > img {
    height: 65px;
    width: auto;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease; }
  #hero > span {
    float: right;
    display: inline;
    text-align: right;
    font-size: 1em;
    padding-right: 170px;
    margin-top: 27px;
    position: relative;
    font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
    #hero > span > a {
      position: absolute;
      top: 3px;
      margin-left: 8px;
      margin-top: -12px;
      background: url(../images/bela_black.png) no-repeat;
      width: 80px;
      height: 35px;
      background-size: 80px 35px;
      opacity: 0.2;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      #hero > span > a:hover {
        background: url(../images/bela_tealmain.png) no-repeat;
        width: 80px;
        height: 35px;
        background-size: 80px 35px;
        margin-top: -14px;
        opacity: 0.4; }
      #hero > span > a:after {
        border: none; }

#main {
  display: block;
  height: auto;
  padding-left: 0;
  padding-top: 20px;
  margin-top: 70px;
  position: relative; }
  #main > .sidebar {
    display: inline-block;
    float: left;
    width: 20%;
    font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 40px 20px 0;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    position: fixed; }
    #main > .sidebar > a {
      position: relative;
      text-decoration: none;
      cursor: pointer;
      margin: 0;
      display: block;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      padding: 0 0 0 40px;
      text-transform: uppercase;
      -webkit-transition: color 0.2s, background 0.5s ease-in-out;
      transition: color 0.2s, background 0.5s ease-in-out; }
      #main > .sidebar > a:after {
        border: none; }
      #main > .sidebar > a:first-child:before {
        display: none; }
      #main > .sidebar > a:before {
        display: inline-block;
        font-family: "fontAwesome";
        content: '+';
        font-size: 18px;
        position: absolute;
        top: 8px;
        left: 12px;
        line-height: 14px;
        font-weight: bold;
        -webkit-transition: color 0.2s, -webkit-transform 0.3s;
        transition: color 0.2s, -webkit-transform 0.3s;
        transition: transform 0.3s, color 0.2s;
        transition: transform 0.3s, color 0.2s, -webkit-transform 0.3s; }
      #main > .sidebar > a.selected {
        color: #00bea4; }
        #main > .sidebar > a.selected:before {
          transform-origin: 50% 50%;
          -webkit-transform-origin: 50% 50%;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          color: #00bea4; }
      #main > .sidebar > a:hover {
        color: #00bea4; }
      #main > .sidebar > a:active {
        color: #00bea4; }
    #main > .sidebar > .sublinks {
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
      display: none; }
      #main > .sidebar > .sublinks > a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        display: block;
        padding: 5px 0 5px 40px;
        font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 10px;
        line-height: 14px;
        -webkit-transition: background 0.5s, color 0.1s ease-in-out;
        transition: background 0.5s, color 0.1s ease-in-out; }
        #main > .sidebar > .sublinks > a:hover {
          color: #00bea4;
          background: rgba(255, 255, 0, 0.2);
          -webkit-transition: background 0.5s, color 0.1s ease-in-out;
          transition: background 0.5s, color 0.1s ease-in-out; }
        #main > .sidebar > .sublinks > a:after {
          border: none; }
    #main > .sidebar > .visible {
      display: block; }
  #main > .content {
    margin-left: 25%;
    padding-right: 40px; }
    #main > .content > section {
      padding-bottom: 40px;
      padding-top: 20px; }
      #main > .content > section > h1 {
        border-bottom: 8px solid rgba(28, 232, 181, 0.6);
        display: table;
        font-size: 24px;
        font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        color: rgba(0, 0, 0, 0.8);
        padding-bottom: 1px;
        font-size: 30px;
        margin-left: -20px; }
        #main > .content > section > h1 > .positioner {
          position: relative;
          top: -170px;
          display: block; }
      #main > .content > section > h2 {
        font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        color: rgba(0, 0, 0, 0.8); }
        #main > .content > section > h2:not(:first-child) {
          padding-top: 20px; }
        #main > .content > section > h2 > .sub-positioner {
          position: relative;
          top: -160px;
          display: block; }
  #main p {
    font-size: 16px; }

.intro {
  padding-bottom: 40px; }
  .intro > p {
    padding: 0 10%; }
  .intro > h1 {
    font-size: 2.0em;
    padding: 0 20px;
    line-height: 2.4em; }
  .intro > ul {
    margin-left: 120px; }
    .intro > ul li {
      margin-left: 20px; }

.right {
  width: auto;
  padding-left: 20px;
  overflow: hidden; }
  .right > ul {
    padding-left: inherit; }
  .right > hr {
    background: transparent; }
  .right > h1 {
    border-bottom: 10px solid #1ce8b5;
    display: table;
    font-size: 24px;
    font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.8; }
  .right > h1:not(:first-child) {
    padding-top: 50px; }

.wrapper {
  width: 400px;
  display: inline-block;
  position: relative; }

.left-choice {
  display: inline-block;
  width: 50%;
  text-align: right;
  float: left;
  clear: all; }

.right-choice {
  display: inline-block;
  padding-left: 25px;
  width: 43%;
  text-align: left;
  margin-top: 3px;
  position: relative; }

a {
  color: #62d3bd;
  text-decoration: none;
  position: relative;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }
  a:hover {
    color: rgba(0, 190, 164, 0.6); }
  a:after {
    position: absolute;
    border-bottom: 1px dotted #000000;
    content: '';
    height: 1px;
    left: 0;
    bottom: 2px; }
  a:hover:after {
    width: 100%; }

section h1 {
  font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7); }
  section h1.hero-title {
    padding: 0 0 0 30px;
    font-size: 48px;
    color: #ffffff;
    position: absolute;
    display: inline; }
  section h1.section-title {
    font-size: 36px;
    padding-right: 10%; }

h2.hero-title {
  font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding-left: 10%;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase; }

span.code {
  background: rgba(0, 0, 0, 0.05);
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  font-family: "Office Code Pro", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace;
  line-height: 20px; }

p {
  display: block; }
  p.mont-reg {
    font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
  p.mont-bold {
    font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bold; }
  p.intro {
    padding: 0 10%; }

.readable {
  float: left;
  width: 200px;
  height: 100px;
  background: #1ce8b5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center; }

.less-readable {
  margin-left: 220px;
  width: 200px;
  height: 100px;
  background: #1ce8b5;
  color: #7d7d7d;
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center; }
  .less-readable > p {
    margin-top: 0;
    padding-top: 15px; }

table {
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 80%;
  border-collapse: collapse; }
  table tr:first-child {
    background-color: rgba(0, 190, 164, 0.1);
    font-weight: bolder; }
  table tr:not(:first-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  table td {
    padding: 20px; }
    table td:first-child {
      padding-right: 50px; }
    table td:not(:first-child) {
      margin: 0 auto; }

.color-table {
  background-color: #ffffff; }
  .color-table tr:first-child {
    font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: white; }
    .color-table tr:first-child > td {
      height: auto; }
  .color-table tr:not(:first-child) {
    border: none; }
  .color-table tr > td {
    margin: 10px;
    padding: 20px;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    vertical-align: bottom;
    color: white; }
    .color-table tr > td:first-child {
      font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      width: auto;
      max-width: 100px;
      min-width: 60px;
      text-align: right; }
    .color-table tr > td > p {
      font-size: 1em;
      line-height: 1.5em;
      font-family: inherit;
      color: black;
      vertical-align: middle; }
    .color-table tr > td.base {
      background: #62d3bd; }
    .color-table tr > td.main {
      background: #00bea4; }
    .color-table tr > td.accent-1 {
      background: #1ce8b5; }
    .color-table tr > td.accent-2 {
      background: #63ffd9; }
    .color-table tr > td.accent-3 {
      background: #a6ffea; }
      .color-table tr > td.accent-3 > p {
        z-index: 100;
        color: rgba(0, 0, 0, 0.5); }
    .color-table tr > td.trans-8 {
      opacity: 0.8; }
    .color-table tr > td.trans-6 {
      opacity: 0.6; }
    .color-table tr > td.trans-4 {
      opacity: 0.4; }
    .color-table tr > td.trans-2 {
      opacity: 0.2; }
    .color-table tr > td.trans-1 {
      opacity: 0.1; }
    .color-table tr > td.grey-dark {
      background: rgba(0, 0, 0, 0.6); }
    .color-table tr > td.grey-mid {
      background: rgba(0, 0, 0, 0.3); }
    .color-table tr > td.grey-light {
      background: rgba(0, 0, 0, 0.1); }
    .color-table tr > td.grey-ultralight {
      background: rgba(0, 0, 0, 0.05); }
    .color-table tr > td.black {
      background: #000000; }

ul {
  margin-left: 20px;
  list-style: none !important; }
  ul > li {
    position: relative !important;
    padding-left: 20px; }
    ul > li:before {
      content: '' !important;
      width: 6px !important;
      height: 6px !important;
      border-radius: 100%;
      border: 3px solid #00bea4;
      background-color: rgba(0, 190, 164, 0.4);
      position: absolute !important;
      left: -10px !important;
      top: 10px !important; }

ol {
  padding-left: 40px;
  font-family: "Office Code Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #00bea4;
  margin-left: 20px; }
  ol > li {
    position: relative !important;
    padding-left: 20px; }
    ol > li > span {
      font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      color: #000000; }

button {
  border-top: rgba(0, 190, 164, 0.4);
  border-left: rgba(0, 190, 164, 0.4);
  border-right: rgba(0, 190, 164, 0.4);
  border-bottom: 2px solid #00bea4;
  background-color: rgba(0, 190, 164, 0.4);
  padding: 6px 12px;
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }
  button:hover {
    background-color: rgba(0, 190, 164, 0.7);
    color: rgba(255, 255, 255, 0.9);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  button.create-project {
    font-size: 14px;
    margin-top: -1px;
    padding-right: 20px; }
    button.create-project:before {
      content: '\02795';
      /* Unicode character for "plus" sign (+) */
      font-family: fontAwesome;
      font-size: 20px;
      line-height: 20px;
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.4);
      margin-right: 5px;
      margin-top: 5px;
      padding-right: 5px; }
    button.create-project:hover {
      color: #ffffff; }
  button:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.9);
    border-top: rgba(0, 0, 0, 0.1);
    border-left: rgba(0, 0, 0, 0.1);
    border-right: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2); }

.radio {
  font-family: inherit; }
  .radio > ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0; }
    .radio > ul > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .radio > ul > li:before {
        display: none; }
      .radio > ul > li > input[type=radio] {
        position: absolute;
        visibility: hidden; }
      .radio > ul > li > label {
        display: block;
        position: relative;
        font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.85);
        padding: 0 0 0 80px;
        margin: 7px auto 10px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear; }
      .radio > ul > li > .check {
        display: block;
        position: absolute;
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-radius: 100%;
        height: 13px;
        width: 13px;
        top: 12px;
        left: 20px;
        z-index: 5;
        transition: border .2s ease-in-out;
        -webkit-transition: border .2s ease-in-out; }
      .radio > ul > li:hover .check {
        border-color: rgba(0, 190, 164, 0.6); }
      .radio > ul > li > .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 7px;
        width: 7px;
        top: 3px;
        left: 3px;
        margin: auto;
        transition: background 0.17s ease-in-out;
        -webkit-transition: background 0.17s ease-in-out; }
  .radio input[type=radio]:checked ~ .check {
    border: 4px solid #00bea4; }
  .radio input[type=radio]:checked ~ .check::before {
    background: rgba(0, 190, 164, 0.5); }
  .radio input [type="radio"] {
    display: none; }

.mini-dropdown select {
  border: transparent;
  height: 25px;
  width: 72px;
  padding-left: 10px;
  background: transparent;
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-appearance: button;
  vertical-align: center; }
  .mini-dropdown select .git {
    width: 150px;
    display: inline; }
  .mini-dropdown select.inactive {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.1); }

.mini-dropdown {
  height: 23px;
  width: 72px;
  border-radius: 2px;
  border: 1px solid #00bea4;
  display: block; }
  .mini-dropdown:before, .mini-dropdown:after {
    content: "";
    position: absolute;
    pointer-events: none; }
  .mini-dropdown:before {
    position: absolute;
    content: " ";
    border: 6px solid transparent;
    border-top: 6px solid #00bea4;
    top: 10px;
    left: 75px; }
  .mini-dropdown.disabled {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.3); }
    .mini-dropdown.disabled:before {
      border-top: 6px solid rgba(0, 0, 0, 0.3); }
    .mini-dropdown.disabled:after {
      color: rgba(0, 0, 0, 0.4); }

input[type="checkbox"].checkbox-slider {
  position: relative;
  left: 10000px;
  height: 18px;
  width: 18px; }
  input[type="checkbox"].checkbox-slider::before, input[type="checkbox"].checkbox-slider::after {
    position: absolute;
    content: '';
    display: block;
    cursor: pointer;
    left: -10000px; }
  input[type="checkbox"].checkbox-slider::before {
    border-radius: 18px;
    width: 32px;
    height: 18px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color 300ms;
    transition: background-color 300ms; }
  input[type="checkbox"].checkbox-slider:checked::before {
    background-color: rgba(28, 232, 181, 0.6); }
  input[type="checkbox"].checkbox-slider::after {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    width: 15px;
    height: 15px;
    background: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(13%);
            transform: translateY(-50%) translateX(13%);
    border-radius: 50%;
    -webkit-transition: -webkit-transform 100ms ease-in-out;
    transition: -webkit-transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out; }
  input[type="checkbox"].checkbox-slider:checked::after {
    -webkit-transform: translateY(-50%) translateX(99%);
            transform: translateY(-50%) translateX(99%); }
  input[type="checkbox"].checkbox-slider:disabled::before {
    background: rgba(0, 0, 0, 0.4); }
  input[type="checkbox"].checkbox-slider:disabled::after {
    background: rgba(255, 255, 255, 0.6); }

input[type="text"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #ffffff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  input[type="text"]:focus {
    border: 1px solid rgba(0, 0, 0, 0.3); }
  input[type="text"]:disabled {
    background: rgba(0, 0, 0, 0.1); }

.number {
  border: 1px solid #ccc;
  height: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

input[type="text"].input-number {
  height: 25px;
  width: 50px;
  padding: 0;
  vertical-align: top;
  text-align: center;
  outline: none;
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0.3); }
  input[type="text"].input-number:disabled {
    border-radius: 0;
    width: 50px; }

.decrement, .increment {
  font-size: 0.1em;
  padding-top: 7px;
  max-height: 16px;
  display: inline-block;
  width: 25px;
  line-height: 22px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-weight: bold;
  cursor: pointer; }
  .decrement:active, .increment:active {
    background: #63ffd9; }

.decrement {
  border-right: none;
  border-radius: 4px 0 0 4px; }

.increment {
  border-left: none;
  border-radius: 0 4px 4px 0; }

input[type="range"].range-slider {
  -webkit-appearance: none;
  width: 70%;
  padding: 3px 0; }
  input[type="range"].range-slider::-webkit-slider-runnable-track {
    height: 20px;
    cursor: pointer;
    background: rgba(28, 232, 181, 0.4);
    border-radius: 9px;
    padding: 2px 2px 2px 2px; }
  input[type="range"].range-slider::-webkit-slider-thumb {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
    -webkit-transition: 0.25s, ease-in-out;
    transition: 0.25s, ease-in-out; }
  input[type="range"].range-slider:hover::-webkit-slider-thumb, input[type="range"].range-slider:active::-webkit-slider-thumb {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5); }
  input[type="range"].range-slider:disabled::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.2); }
  input[type="range"].range-slider:disabled::-webkit-slider-thumb {
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); }

hr {
  border: 0;
  width: 70%;
  height: 1px;
  margin: 50px auto;
  background: #62d3bd;
  background-image: -webkit-gradient(linear, left top, right top, from(#a6ffea), color-stop(#00bea4), to(#a6ffea));
  background-image: linear-gradient(to right, #a6ffea, #00bea4, #a6ffea); }

button.accordion {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  outline: none;
  margin-top: 10px;
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }
  button.accordion:hover {
    background: #ddd;
    border-bottom: 2px solid #00bea4; }
  button.accordion.active {
    background-color: rgba(0, 0, 0, 0.07);
    border-bottom: 2px solid #00bea4;
    padding: 8px 14px; }
    button.accordion.active:after {
      font-family: fontAwesome;
      content: '\2796';
      /* Unicode character for "minus" sign (-) */ }
  button.accordion:after {
    font-family: fontAwesome;
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    float: right;
    margin-left: 5px; }
  button.accordion.sub {
    width: calc(100% - 20px);
    background-color: #ddd;
    margin-top: 10px;
    margin-left: 20px; }
    button.accordion.sub:hover {
      background: #ddd;
      border-bottom: 2px solid white; }
    button.accordion.sub.active {
      border-bottom: none;
      background: rgba(0, 0, 0, 0.05);
      padding: 8px 14px; }
      button.accordion.sub.active:after {
        content: '\2796';
        /* Unicode character for "minus" sign (-) */ }
    button.accordion.sub:after {
      font-family: fontAwesome;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      float: right;
      margin-left: 5px; }

.panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0; }
  .panel.sub {
    padding-left: 20px;
    -webkit-transition: height 0.25s ease;
    transition: height 0.25s ease; }

.panel.show {
  padding-left: 10px;
  opacity: 1;
  max-height: 100%;
  /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */ }
  .panel.show > p {
    padding-left: 20px;
    -webkit-transition: none;
    transition: none; }

button.file-dropdown {
  position: relative;
  width: 200px;
  background-color: #fff;
  font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #00bea4;
  padding: 6px 16px;
  font-size: 14px;
  text-align: left;
  border: none;
  cursor: pointer;
  display: inline;
  border: 2px solid #00bea4; }
  button.file-dropdown:before {
    position: absolute;
    content: " ";
    border: 8px solid transparent;
    border-top: 8px solid #00bea4;
    top: 13px;
    right: 12px; }
  button.file-dropdown:hover, button.file-dropdown:focus {
    background-color: #00bea4;
    border: 2px solid rgba(0, 190, 164, 0.8);
    color: white; }
    button.file-dropdown:hover:before, button.file-dropdown:focus:before {
      border-top: 8px solid #fff; }

.dropdown {
  opacity: 1;
  position: relative;
  display: inline-block;
  border-radius: 2px; }
  .dropdown.inactive {
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.3); }

/* Dropdown content (hidden by default) */
.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* Links inside the dropdown */ }
  .dropdown-content a {
    opacity: 1;
    font-family: Montserrat, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.9); }
    .dropdown-content a:after {
      border: none; }

.show {
  display: block;
  -webkit-transition: 0.25s 0.2s linear;
  transition: 0.25s 0.2s linear; }

#popup {
  padding: 50px;
  width: 500px;
  height: auto;
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-radius: 0; }
